@import "bulma";

.nav {
  background: #abbaab;
  background: -webkit-linear-gradient(right, #abbaab, #ffffff);
  background: -o-linear-gradient(right, #abbaab, #ffffff);
  background: linear-gradient(to left, #abbaab, #ffffff);
}
